.App {
  margin: 0;
  padding:0;
  text-align: center;
 background-image: linear-gradient(to right, #30cfd0 0%, #282c34 100%);
}

.App-logo {
 /* animation: App-logo-spin infinite 20s linear;*/
  height: 20vmin;
}

article h1{
  color: #fff;
  margin:15px;
}

.App-header {
  /* background-image: url('insb.jpg'); */
  background-color:transparent;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  min-height: 100px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-name{
  padding: 10px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.Header-menu a{
  margin-left:100px;
  text-decoration: none;
  color:#fff;
}

.Home-welcome .content-welcome p{
  color:#e67e22;
}
.content-welcome p{
  position: relative;
  color: #fff;
}
.Disc-angkatan {
  background-image: url('pp.jpg');
  background-color: #282c34;
  background-attachment: fixed;
  background-size:cover;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}