.App {
  margin: 0;
  padding:0;
  /* text-align: center; */
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  font-family: 'Zilla Slab', serif;
}

.App-logo {
 /* animation: App-logo-spin infinite 20s linear;*/
  height: 20vmin;
}

article h1{
  color: #fff;
  margin:15px;
}

.App-header {
  background-image: url('insb.jpg'); 
  background-color:transparent;
  background-attachment: fixed; 
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  color: #fff
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-name{
  padding: 10px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.title{
  text-align: center;
  margin: 20px;
}
.Disc-angkatan {
  background-image: url('pp.jpg');
  background-color: #282c34;
  background-attachment: fixed;
  background-size:cover;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Menu{
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
.Disc-menu{
  margin-top: 25px;
  margin-bottom: 25px;
}
.Footer{
  background-color: #282c34;
  min-height: 200px;
  color: #fff;
  width: 100%;
  padding: 20px;

}